'
@model IEnumerable<PakTech.Models.Course>
@{
    ViewBag.Title = "Courses";
    Layout = "~/Views/Shared/_LayoutTheme.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Theme/styles/courses.css">
<link rel="stylesheet" type="text/css" href="~/Theme/styles/courses_responsive.css">

<div class="courses">
    <div class="container">
        <div class="row">

            <!-- Courses Main Content -->
            <div class="col-lg-8">
                <div class="courses_search_container">
                    <form  id="courses_search_form" class="courses_search_form d-flex flex-row align-items-center justify-content-start">
                        <input name="SrchQry" type="search" class="courses_search_input" placeholder="Search Courses" required="required">
                        
                        <button action="submit" type="submit" class="courses_search_button ml-auto">search now</button>
                    </form>
                </div>
                <div class="courses_container">
                    <div class="row courses_row">

                        @foreach (var course in Model)
            {
                            <div class="col-lg-4 course_col">
                                <div class="course">
                                    <div class="course_image"><img src="@course.imageUrl" width="300" alt=""></div>
                                    <div class="course_body">
                                        <h3 class="course_title"><a href="/home/course/@course.ID">@course.Title</a></h3>
                                        <div class="course_teacher">@course.Instructor</div>
                                        <div class="course_text">
                                            <p>@course.ShortDescription</p>
                                        </div>
                                    </div>
                                    <div class="course_footer">
                                        <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                                            <div class="course_info">
                                                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                                <span>20 Student</span>
                                            </div>
                                            <div class="course_info">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                @*<span>5 Ratings</span>*@
                                            </div>
                                            <div class="course_price ml-auto">RS @course.Fee.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                       

                    </div>
                    
                </div>
            </div>

            <!-- Courses Sidebar -->
            <div class="col-lg-4">
                <div class="sidebar">

                    <!-- Categories -->
                    <div class="sidebar_section">
                        <div class="sidebar_section_title">Categories</div>
                        <div class="sidebar_categories">
                            <ul>
                                @foreach (var cat in ViewBag.Categories)
                                {
                                    <li><a href="/home/courses?cat=@cat.Name">@cat.Name</a></li>
                                }
                               
                            </ul>
                        </div>
                    </div>

                

                </div>
            </div>
        </div>
    </div>
</div>