@model IEnumerable<PakTech.Models.Course>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutTheme.cshtml";
}
<div class="home">
    <div class="home_slider_container">

        <!-- Home Slider -->
        <div class="owl-carousel owl-theme home_slider">
            <!-- Home Slider Item -->
            <div class="owl-item">
                <div class="home_slider_background" style="background-image:url(/theme/images/home_slider_1.jpg)"></div>
                <div class="home_slider_content">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <div class="home_slider_title">WELCOME TO PAK TECH</div>
                                <div class="home_slider_subtitle">Future Of Information Technology</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Home Slider Item -->
            <div class="owl-item">
                <div class="home_slider_background" style="background-image:url(/theme/images/slider3.jpg)"></div>
                <div class="home_slider_content">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <div class="home_slider_title"></div>
                                <div class="home_slider_subtitle"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Home Slider Item -->
            <div class="owl-item">
                <div class="home_slider_background" style="background-image:url(/theme/images/slider2.jpg)"></div>
                <div class="home_slider_content">
                    <div class="container">
                        <div class="row">

                            </div>
                        <div class="col text-center">
                            <div class="home_slider_title">With Expert</div>
                            <div class="home_slider_subtitle">Graphic Design</div>
                        </div>
                    </div>
                </div>
            </div>
            
            

        </div>
    </div>

    <!-- Home Slider Nav -->

    <div class="home_slider_nav home_slider_prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
    <div class="home_slider_nav home_slider_next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
</div>
<div class="features">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Welcome To Pak Tech</h2>
                    <div class="section_subtitle"><p>Develop a passion for learning</p></div><br /><br />
                    <div class="section_subtitle"><p><a href="/Home/events"><button style="width:200px" class="courses_button trans_200">Events</button></a></p></div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div class="courses">
    <div class="section_background parallax-window" data-parallax="scroll" data-image-src="images/courses_background.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Popular Courses</h2>
                    <div class="section_subtitle"><p>Following are the popular courses that enhance your skills</p></div>
                </div>
            </div>
        </div>
        <div class="row courses_row">
            @foreach (var course in Model)
            {
                <div class="col-lg-4 course_col">
                    <div class="course">
                        <div class="course_image"><img src="@course.imageUrl" width="300" alt=""></div>
                        <div class="course_body">
                            <h3 class="course_title"><a href="/home/course/@course.ID">@course.Title</a></h3>
                            <div class="course_teacher">@course.Instructor</div>
                            <div class="course_text">
                                <p>@course.ShortDescription</p>
                            </div>
                        </div>
                        <div class="course_footer">
                            <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                                <div class="course_info">
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                    <span>20 Student</span>
                                </div>
                                <div class="course_info">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    @*<span>5 Ratings</span>*@
                                </div>
                                <div class="course_price ml-auto">RS @course.Fee.</div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <!-- Course -->
            

            <!-- Course -->
           

        </div>
        <div class="row">
            <div class="col">
                <div class="courses_button trans_200"><a href="/home/courses">view all courses</a></div>
            </div>
        </div>
    </div>
</div>
