@model PakTech.Models.Events

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Events</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shortdescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shortdescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateofseminar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateofseminar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
